@model IEnumerable<AppDev.Models.Course>
@{
    ViewBag.Title = "IndexForCourse";
}

<h2>Index For Course Controlled by Training Staff</h2>
<div class="btn-group">
    @Html.ActionLink("Back to Index of Course Category", "IndexForCourseCategory", null,
                        new { @class = "btn btn-primary active" })
</div>
<div class="btn-group">
    @Html.ActionLink("Create a new course", "CreateForCourse", null,
        new { @class = "btn btn-primary" })
</div>

<br /><br />
@using (Html.BeginForm("IndexForCourse", "TrainningStaff", FormMethod.Get))
{
    <div>
        @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Search by Course Name or Course Description" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<table class="table">
    <thead>
        <!--List the whole inform in Model using foreach -->
        <tr>
            <th>Course Name</th>
            <th>Couse Description</th>
            <th>Course Category</th>
            <th>Action</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.CourseName</td>
                <td>@items.CourseDescription</td>
                <!--Display Course Category by Name-->
                <td>@items.CourseCategory.Name</td>
                <td>
                    @Html.ActionLink("Edit", "UpdateForCourse", new { id = items.Id },
                                   new { @class = "btn btn-success" })
                    @Html.ActionLink("Assign Trainer to Course", "AssignTrainer", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Assign Trainee to Course", "AssignTrainee", null, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete Information", "DeleteForCourse", new { id = items.Id },
                                          new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete?');" })
                </td>
            </tr>
        }
    </tbody>
</table>