@model IEnumerable<AppDev.Models.Trainner>
@{
    ViewBag.Title = "IndexForTrainer";
}

<h2>Index For Trainer Controlled by Admin</h2>
<div class="btn-group">
    @Html.ActionLink("Create a Staff", "CreateTrainer", "Admin",
        new { @class = "btn btn-primary" })
</div>
<div class="btn-group">
    @Html.ActionLink("Back to Index of Admin", "Index", null, 
        new { @class = "btn btn-primary active" })
</div>

<table class="table">
    <thead>
        <!--List the whole inform in Model using foreach -->
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Specialty</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <td>@items.FullName</td>
                <td>@items.Email</td>
                <td>@items.Specialty</td>
                <td>@items.Age</td>
                <td>@items.Address</td>
                <td>
                    <!--Get StaffId-->
                    @Html.ActionLink("See Details", "TrainerDetails", "Admin",
                        new { id = items.TrainerId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Change Password", "ChangePasswordForTrainer", "Admin",
                        new { id = items.TrainerId }, new { @class = "btn btn-primary" })

                    <!--Get id to Edit-->
                    @Html.ActionLink("Edit", "EditTrainer", "Admin",
                        new { id = items.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "DeleteTrainer", "Admin",
                        new { id = items.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
